extends layout

block content
  h1= title
  
  -var results = [{name:'Cheeseburger', calories: 500, cost: 5.99}, {name:'Taco', calories: 450, cost: 3.99}, {name:'8 Chicken Wings', calories: 600, cost: 6.99}];
  -var index = 1;
  div(class="container-fluid")
  div(class="row") 
    each item in results
      -var name = item.name;var calories = item.calories;var cost = item.cost;
      -console.log(item);
      div(class="col-sm-2" onClick=`buy(${index})`) Name: #{name} Calories: #{calories} Cost: $#{cost}
      -index++;
      script.
        function buy(index){
          alert("Purchased item " + index);
        }


